.link-termos-uso {
  float: none;
  margin-right: 0;
  padding: 0;
  font-size: 14px;
}

li.clausula {
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: justify;
  width: 864px;
}

.continuar-aceitar-termos-btn {
  margin-top: 17px;
}

.checkbox-termos {
  margin: 0 !important;
  margin-right: 3px !important;
}

.painel-esquerda-termos {
  width: 366px;
}

.textarea-termos {
  width: 500px;
  background-color: #DDD !important;
}

.mensagem-termos {
  color: #ff0000;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.label-aceitar-termos {
  margin-left: 0 !important;
}

.instagram-link-termos {
  font-size: 12px;
}