/**
+-------------------------------------------
|
|        PÁGINA DE CONTATO
|
*/

.contato-form {
  margin-top: -42px;
  padding-right: 20px;
}

.contato-field {
  width: 328px;
  height: 27px !important;
}

.no-border-radius {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

.contato-textarea {
  width: 356px;
}

.btn-contato-form {
  width: 183px;
}

.addon-contato {
  height: 22px !important;
  padding-top: 9px !important;
}

/*
* FIM
*/
