@font-face {
  font-family: Billabong;
  src: url("../fonts/billabong.eot?#iefix"),
       url("../fonts/billabong.eot?#iefix") format("embedded-opentype"),
       url("../fonts/billabong.eot?#iefix"),
       url("../fonts/billabong.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/billabong.ttf"),
       url("../fonts/billabong.ttf") format('truetype'),
       url('../fonts/billabong.ttf') format('truetype'),
       url('../fonts/billabong.ttf');
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
}